/*--------Navbar--------*/


/* Add a black background color to the top navigation */
.topnav {
    background-color: rgba(255, 255, 255, 0.2);
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Add an active class to highlight the current page */
.topnav a.active {
    background-color: #5a5a5a;
    color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
    display: none;
}

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home").
 Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {
        display: none;
    }

    .topnav a.icon {
        float: right;
        display: block;
    }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. 
  This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
    .topnav.responsive {
        position: relative;
    }

    .topnav.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}


* {
    -webkit-box-sizing: border-box;
    /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;
    /* Firefox, other Gecko */
    box-sizing: border-box;
    /* Opera/IE 8+ */

}

body {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
}

/* ----- Container style------- */

/* Overflow: 

The overflow property specifies whether to clip the content or to add scrollbars 
when the content of an element is too big to fit in the specified area.

The overflow property has the following values:

visible - Default. The overflow is not clipped. The content renders outside the element's box
hidden - The overflow is clipped, and the rest of the content will be invisible
scroll - The overflow is clipped, and a scrollbar is added to see the rest of the content
auto - Similar to scroll, but it adds scrollbars only when necessary 

*/

.container {
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
    overflow: hidden;
}



/* ----- Header style------- */
header {
    background-image: url(../img/bd.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

header .main {
    margin: 40px 0;
}

header .container-text {
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 190px 0;
}

header .container-text .textos {
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 3px;
    display: inline-block;
    text-align: center;
    padding: 20px 60px;
}

/* Color de los textos del header */
header .container-text .textos h1,
header .container-text .textos h2 {
    color: #fff;
    font-weight: 400;
    /* Grosor de la fuente */
    margin: 0;
}

header .container-text .textos .name {
    margin-bottom: 10px;
    /* Margen inferior */
    font-size: 50px;
    /* Tamaño de la fuente */
    line-height: 50px;
    /* Altura de la línea */
}

header .container-text .textos .profession {
    font-size: 25px;
    line-height: 25px;
}

/* ----- About style------- */
.main .container {
    overflow: visible;
}

.main .acerca-de {
    text-align: center;
    /* Alineación del texto */
}

.main .acerca-de .foto {
    margin-top: -60px;
}

.main .acerca-de .foto img {
    vertical-align: top;
    border-radius: 50%;
    border: 5px solid rgba(255, 255, 255, 0.2);

}

.main .acerca-de .texto {
    color: 5a5a5a;
    font-weight: 600;
    font-size: 1em;
    line-height: 30px;
    width: 80%;
    margin: 40px auto 60px auto;
}

.main .acerca-de .texto .title {
    font-size: 34px;
    line-height: 34px;
    margin-bottom: 40px;
    font-weight: 300;
    color: #dd820d;
    text-align: center;
}

.main .acerca-de .texto .bold {
    color: #3895ea;
    text-decoration: underline;
}

/* ----- Jobs style------- */
.main .jobs {
    background: #f2f2f2;
    padding: 60px 0;
}

.main .jobs .container {
    overflow: hidden;

}

.main .jobs .title {
    font-size: 34px;
    line-height: 34px;
    margin-bottom: 40px;
    font-weight: 300;
    color: #323068;
    text-align: center;
}

/* ----- content Projects style------- */
.main .jobs .container .container-job {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.main .jobs .container .container-job .job {
    width: 23%;
    margin-bottom: 40px;
}

.main .jobs .container .container-job .job .thumb img {
    width: 100%;
    vertical-align: top;
}

.main .jobs .container .container-job .job .Description {
    text-align: center;
}

.main .jobs .container .container-job .job .Description .nombre {
    font-weight: 700;
    color: #3895ea;
    margin-bottom: 10px;
}

.main .jobs .container .container-job .job .Description .category {
    font-size: 14px;
    color: #636363
}

/* ----- Footer style------- */
footer .contacto { 
    padding: 60px 0; /* Padding de 60px arriba y abajo */

}
footer .contacto .container {
    max-height: 600px;
}

footer .contacto .container .title {
    font-size: 34px;
    line-height: 34px;
    font-weight: 300;
    color: #3B82F6;
    text-align: center;
}
footer .contacto .formulario {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer .contacto .container .formulario input[type="text"],
footer .contacto .container .formulario input[type="email"],
footer .contacto .container .formulario textarea {
    font-size: 20px;
    padding: 15px 20px; /* Padding de 15px arriba y abajo y 20px a los lados */
    border: 2px solid #cecece; /* Borde de 2px sólido */
    border-radius: 3px;
    color: #a4a4a4;
}

footer .contacto .container .formulario input[type="text"]:focus, /* Cuando el input de tipo texto está en foco */
footer .contacto .container .formulario input[type="email"]:focus,
footer .contacto .container .formulario textarea:focus {
    border: 2px solid #3895ea;

}

footer .contacto .container .formulario input[type="text"],
footer .contacto .container .formulario input[type="email"]{
    width: 49%;
    margin-bottom: 15px;
}



footer .contacto .formulario textarea {
    width: 100%;
    height: 100px;
    min-width: 100%;
    max-width: 100%;
    min-height: 100px;
    max-height: 300px;
    margin-bottom: 15px;
}

footer .contacto .container .formulario .botton {
    margin: auto;
    background: #3895ea;
    color: #fff;
    border: none;
    padding: 15px 40px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 3px;
    cursor: pointer; /* Cursor de tipo puntero */
}

footer .contacto .container .formulario .botton:hover { /* Cuando el botón está en hover */
    background: #dd820d;
    color: azure;

}

footer .redes-sociales {
    background: #1e2b38;
    padding: 60px 0;
}

footer .redes-sociales .container  {
    display: flex;
    justify-content: center;
}

footer .redes-sociales a {
  color: #fff;
  text-align: center;
  width: 100px;
  display: block;
  padding: 15px 0;
  border-radius: 3px;
  font-size: 30px;
  margin: 0 20px;
}

footer .redes-sociales .GitHub:hover {background: #4078c0;}
footer .redes-sociales .Linkedin:hover {background: #0a66c2;}
footer .redes-sociales .Youtube:hover {background: #ff0000;}

/* --------- ---------- MEDIA QUERIES ------ ------- */

@media screen and (max-width:800px) {
    .main .jobs .container .container-job .job{
       width: 46%;
    }
}

@media screen and (max-width:500px) {
    header .container .container-text .name {
        font-size: 25px;
        line-height: 25px;
    }
    header .container .container-text .profession {
        font-size: 15px;
        line-height: 15px;
    }
}